body{
    margin: 0;
    background-color: blueviolet;
}

.main-game{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius{
    display: grid;
    grid-template-areas: "yellow blue"
                        "green red" ;
    grid-gap: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.red{
    grid-area: red;
    background-color: red;
    border-bottom-right-radius: 100%;
}

.green{
    grid-area: green;
    background-color: green;
    border-bottom-left-radius: 100%;
}

.blue{
    grid-area: blue;
    background-color: blue;
    border-top-right-radius: 100%;
}

.yellow{
    grid-area: yellow;
    background-color: yellow;
    border-top-left-radius: 100%;
}


.selected{
    opacity: 0.8;
    background-color: black;
}